body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcoral;
    height: 100vh;
}
input{
   outline: none;
   width: 93%;
}
button{
    width: 100%;

}
